.root {
  display: flex;
  height: 100%; // вместо 100vh
}

.leftSidebar {
  width: 200px;
  background-color: rgb(250 250 250);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  background: white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.editor {
  flex: 1;
  background: white;
  overflow: hidden;
}

.rightSidebar {
  width: 250px;
  background: white;
  border-top: 2px solid #ededed;
}