.button {
    border: none;
    padding: 8px;
}

.button:hover {
    background-color: #ddd;
    color: black;
}

.button:hover.active {
    background-color: #0070bb;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.active {
    background-color: #4c63af;
    color: #ccc;
}
