.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 14px;
    gap: 8px;
    padding: 0;
}

.templatesTable {
    width: 100%;

    tr:hover {
        background-color: #ededed;
    }
}