.container {
    background-color: rgb(250 250 250);
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.toolBlock {
    margin-top: 8px;
    padding: 4px;
    border-left: 1px solid grey;
}

.toolBlock:hover {
    background-color: aliceblue;
}